* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(img/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsl(257, 40%, 49%);
  font-size: 34px;
}

header {
  padding-left: 50px;
  padding-top: 50px;
  height: 200px;
}

header img {
  width: 300px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 50px 0px 50px;
  height: 1100px;
}

figure {
  margin-bottom: 30px;
}

figure img {
  max-width: 100%;
  height: auto;
}

section {
  color: white;
  text-align: center;
}

section h1 {
  font-weight: 600;
  margin-bottom: 50px;
}

section p {
  font-weight: 400;
  margin-bottom: 50px;
}

section button {
  background-color: white;
  color: hsl(257, 40%, 49%);
  border: none;
  border-radius: 50px;
  box-shadow: 0px 3px 7px #333;
  font-weight: 400;
  font-size: 30px;
  width: 450px;
  height: 90px;
  cursor: pointer;
}

section button:active {
  background-color: hsl(300, 69%, 71%);
  color: white;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 300px;
}

footer svg {
  width: 70px;
  height: 70px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 15px;
  fill: white;
  margin: 10px;
  cursor: pointer;
}

footer svg:active {
  fill: hsl(300, 69%, 71%);
  border-color: hsl(300, 69%, 71%);
}
