* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 16px;
}

body {
  background-color: hsl(257, 40%, 49%);
  background-image: url(img/bg-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.container {
  max-width: 1440px;
  min-width: 375px;
}

header {
  margin: 30px 40px 50px 40px;
}

header img {
  width: 150px;
}

main {
  display: flex;
  flex-direction: row;
  margin: 0 40px 0 40px;
}

figure {
  width: 50%;
}

figure img {
  height: auto;
  width: 90%;
}

section {
  width: 50%;
  height: auto;
  padding: 30px 0 30px 0;
  font-weight: 400;
}

section h1 {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 30px;
}

section p {
  margin-bottom: 20px;
}

section button {
  width: 30%;
  height: 30px;
  border: none;
  border-radius: 25px;
  color: hsl(257, 40%, 49%);
  box-shadow: 0 2px 5px rgb(59, 59, 59);
  font-weight: 400;
  font-size: 13px;
  cursor: pointer;
}

section button:hover {
  background-color: hsl(300, 69%, 90%);
}

section button:active {
  background-color: hsl(300, 69%, 71%);
  color: white;
}

footer {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 40px 0px 40px;
}

footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 25px;
  width: 30px;
  height: 30px;
  margin: 0 5px 0 5px;
}

footer a svg {
  width: 50%;
  height: 50%;
  fill: white;
}

.active:active {
  border-color: hsl(300, 69%, 71%);
  fill: hsl(300, 69%, 71%);
}

.one {
  order: 3;
}

.two {
  order: 2;
}

three {
  order: 1;
}

@media only screen and (min-width: 1300px) {
  * {
    font-size: 25px;
  }

  section h1 {
    font-size: 35px;
  }

  section button {
    font-size: 18px;
  }

  footer a {
    width: 50px;
    height: 50px;
  }
}

@media only screen and (max-width: 757px) {
  body {
    background-image: url(img/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  header img {
    width: 125px;
  }

  main {
    flex-direction: column;
    align-items: center;
  }

  figure,
  section {
    width: 100%;
  }

  figure img {
    width: 100%;
    height: auto;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section p,
  h1 {
    text-align: center;
  }

  section h1 {
    font-size: 25px;
  }

  section button {
    width: 70%;
    height: 40px;
    font-size: 15px;
  }

  footer {
    justify-content: center;
    align-items: center;
    height: 100px;
  }
}
